@import "tailwindcss";
.bg-hero {
    background-image: url('/main-bg.jpg');
}

.gradient-border-radial {
    border: 3.74px solid transparent;
    border-image: radial-gradient(95.83% 111.04% at 50% 54.52%, #FFFFFF 0%, #610000 83.78%, #FFFFFF 100%) 1;
}